.next {
    background-color:rgb(86, 131, 186);
    border: solid 1px;
    border-color:rgb(103, 158, 182); 
    color: white;
    padding: 10px;
    padding-top:20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}



